* {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding: 1rem;
}

.button-add-podcast {
  padding: 1.6rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #c8c8c8;
  background: white;
  cursor: pointer;
  display: flex;
  gap: 2px;
  align-items: center;
  border: 0px solid;
  height: 100%;
  font-size: larger;
}



@media only screen and (max-width: 1024px) {
  .button-add-podcast{
    padding: 7.5px;
  }
 
  .button-add-podcast > div{
    font-size: 11px;
  }

}
